# == OLLAMA ==
MODEL_EMBEDDING = "mxbai-embed-large"
MODEL_CHAT="phi3.5"
MODEL_PROVIDER = "ollama"
API_KEY='not needed'

# == CHROMA COLLECTION NAME == #
DATABASE_LOCATION = "db"
COLLECTION_NAME = "cs497_b1"
